// Base Styles

// Settings
@import "settings";

// Grid
@import "grid";

// Vendor
@import "vendor/replace-text-with-svg";

// Partials
@import "partials/header";
@import "partials/main";
@import "partials/footer";

// Modules
@import "modules/button";
@import "modules/colors";
@import "modules/shape";


/**
 * Base Style
 */

body, html {
  width: 100%;
  height: 100%;
}

@include establish-baseline;

body {
  font-family: "Lantinghei TC", "Apple LiGothic", sans-serif;
  background: image-url('bg.png');
}

a {
  text-decoration: none;
  color: darken($green, 20%);
}
